{% load static %}
<!DOCTYPE html>
<html lang="ru" class="main">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>
        {% block title %}
            Homework engine
        {% endblock %}
    </title>
</head>

<body class="main">
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'app:index_url' %}"> Home library </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'app:catalog_url' %}"> Catalog </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:library_url' %}">
                    Best choice
                </a>
            </li>
        </ul>
        {% if search %}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}
    </div>
</nav>

<div class="container mt-3 mb-5">
    {% block content %}
        Nothing
    {% endblock %}
</div>

<div class="admin-panel">
    {% block admin-panel %}
    {% endblock %}
</div>

<div class="circle about-me">
    <a href="https://github.com/AlAstroMoody/">
        {% block about-me %}
        {% endblock %}
    </a>
</div>

<nav class="navbar fixed-bottom for_cards">
    <div class="left">
        <h3 class="for_other_fonts">
            <script src="/static/js/rotate.js"></script>
            <span class="txt-rotate" data-period="1000"
                  data-rotate='[ "Читайте книги!", "Узнавайте новое!", "Развивайтесь!", "Фантазируйте!", "У вас всё получится!" ]'>
            </span>
        </h3>
    </div>
</nav>

</body>

</html>