{% extends 'app/book_template.html' %}

{% block title %}
    Edit book "{{ book.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{{ get_update_url }}" method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class=" form-group for_fonts">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                <p></p>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" name="button" class="btn book_button">
            <div class="for_fonts">Update book</div>
        </button>
    </form>
{% endblock %}