{% extends 'base.html' %}

{% block admin-panel %}
    <a href="/admin" class="btn btn-primary">admin</a>
    <a href="/create" class="btn btn-success">create</a>
    {% if detail %}
        <a href="{% url 'app:book_update_url' slug=book.slug %}" class="btn btn-secondary">update</a>
        <a href="{% url 'app:book_delete_url' slug=book.slug %}" class="btn btn-danger">delete</a>
    {% endif %}
{% endblock %}

{% block about-me %}
    {% if about_me %}
        <img src="/static/app/me.jpg" alt="Моё фото)"/>
    {% endif %}
{% endblock %}
