{% extends 'app/book_template.html' %}

{% block title %}
Delete book "{{ book.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

<form action="{% url 'app:book_delete_url' slug=book.slug %}" method='post'>
    {% csrf_token %}
    <h3> Вы действительно хотите удалить <b>{{ book.title|title }}</b>?</h3>
    <a href="{% url 'app:book_details_url' slug=book.slug %}">Cancel</a>
    <button type="submit" name="button" class="btn btn-danger">
        Delete
    </button>
</form>
{% endblock %}