{% extends 'app/book_template.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Edit book "{{ book.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="mb-3">
        <form action="{{ get_update_url }}" method='post'>
            {% csrf_token %}
            <div class=" form-group for_fonts">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.author  | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.title  | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.dateline  | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.rating  | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.genre  | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.addition  | as_crispy_field }}
                    </div>
                </div>
            </div>
            <button type="submit" name="button" class="btn book_button">
                <div class="for_fonts">Update book</div>
            </button>
        </form>
    </div>>
{% endblock %}