{% extends 'app/book_template.html' %}

{% block title %}
    Library
{% endblock %}

{% block content %}

    <div class="mask rgba-black-light align-items-center">
        <div class="container">
            <table class="table table-striped table-secondary">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Раздел</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Оценка</th>
                </tr>
                </thead>
                <tbody>
                {% for book in object_list %}
                    <tr>
                        <td><a href="{% url 'app:book_details_url' slug=book.slug %}">{{ book.title }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{% for genre in book.genre.all %}
                            {{ genre }},
                            {% if not forloop.last %}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>{{ book.addition|truncatewords:10 }}</td>
                        <td>{% for rating in book.rating.all %}
                            {{ rating }}
                            {% if not forloop.last %},
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}